.records-view {
  padding: 20px;
}

.header {
  font-size: 28px !important;
  margin-top: 0px;
  margin-bottom: 20px;
  color: white;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.records-view .ant-input {
  margin-right: 10px;
  width: 20%;
}

.records-view .ant-select {
  margin-right: 10px;
  width: 10%;
}

.ant-table {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.ant-table-thead > tr > th {
  background-color: #f0f2f5;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 12px 16px;
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid #f0f0f0;
}

.ant-pagination {
  margin-top: 20px;
  text-align: right;
}

.btn-download {
  margin-left: auto;
}
